#paraTest{color: blue}
#test{color:red}
a{color:yellow} 

a:hover{background-color:green;}

.container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  button {
    width: 200px;
  }